<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico', 'pictures') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <footer>
            <p>
                &copy; Copyright {{ 'now'|date('Y') }}.
            </p>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
